<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.droidsonroids.demo.tocktoo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:label="TOCK too"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="pl.droidsonroids.demo.tocktoo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
